.todo-list {
    width: 500px;
    margin: 0 auto;
    background: #f3f5f9;
}

.control h1 {
    width: 100%;
    text-align: center;
    color: gold;

}

.control .new-todo {
    box-sizing: border-box;
    outline: none;
    width: 100%;
    font-size: 24px;
    padding: 16px;
}
